@media only screen and (min-width:1600px){
    .fixed-main-content {
        min-height: calc(100vh - 320px) !important;
    }
}
@media only screen and (max-width:1599px){
    .get-start-section {
        background-attachment: fixed;
    }
}
@media only screen and (min-width: 1500px) {
    .breadcrumb-section{
        margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    }
}
@media only screen and (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1270px;
    }
    
    .navbar-expand-xxl .navbar-collapse {
       justify-content: end;
       margin-right: 90px;
    }
    .input-group input {
        min-width: 350px;
    }
    .what-we-do {
        overflow: hidden;
    }
    .what-we-do .dash-lines {
        position: absolute;
        left: 50%;
        top: 70px;
        transform: translateX(-84.5%);
        display: block;
    }
    .campaign-management-content{
        margin-right: 80px;
    }
    .influencer-management-content{
        margin-left: 80px;
    }
    .gallery .gallery-content .btn {
        margin-bottom: 110px;
        margin-top: 60px;
    }
    .job-list-wrapper{
        padding-left: calc(20px + (100 - 65) * ((100vw - 320px) / (1920 - 320)));
    }
    .sidebar-style2{
        margin-left: calc(20px + (100 - 65) * ((100vw - 320px) / (1920 - 320)));
    }
    .fixed-main-content {
        min-height: calc(100vh - 295px);
    }
    
}
@media only screen and (min-width: 1200px) {
    .about-left{
        margin-right: 85px !important;
    }
    .breadcrumb-wrapper{
       min-height: 80px;
    }
    /* .list-sidebar{
        position: relative;
        min-height: 100vh;
        height: 100vh;
        overflow: auto;
    } */
    .sidebar-sticky{
        position: sticky;
        top: 0;
    }
    .fixed-main-content{
        min-height: calc(100vh - 288px);
    }
}
@media only screen and (max-width: 1199px) {
    .fixed-main-content{
        min-height: calc(100vh - 258px);
    }
}
@media only screen and (min-width: 992px) {
  
  .auth-side-wrap {
    border-radius: 100px 0px 0px 100px;
  }
  .auth-side-wrap.signup-page-bg{
    border-radius: 0px 100px 100px 0px;
  }
  .banner-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .about-left{
    margin-right: 35px;
}
}
@media only screen and (min-width: 768px) {
    .job-list-header h3 {
        flex: 1 1 70%;
    }
    .job-moreinfo-list li:not(:last-child):before{
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        right: 30px;
        top: 0;
        background-color: var(--black-700);
    }
    .job-details-body  .job-moreinfo-list li:not(:last-child):before{
        right: 20px;
    }
}
@media only screen and (max-width: 991px) {
  .auth-side-wrap {
    background-attachment: fixed;
    background-position: center;
  }
  .authentication-block {
    padding: 50px 50px;
    }
    .banner-overlay-img{
        display: none;
    }
    .about-left{
        margin-bottom: 30px;
    }
    .what-we-do .what-we-do-content .btn {
        margin-bottom: 30px;
    }
    .banner-section .banner-content .input-group{
        display: flex;
    }
    .banner-section .banner-content .input-group input
    {
        flex-grow: 1;
    }
    .about-right{
        text-align: center;
    }
    .fixed-main-content{
        min-height: calc(100vh - 253px);
    }
}
@media only screen and (max-width: 991px) and (min-width: 576px) {
    footer .main-footer .footer-contact .logo{
        justify-content: center;
    }
    .footer-contact{
        text-align: center;
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
   
    .auth-header h3 {
        font-size: 1.725rem;
    }
    .auth-header p {
        color: var(--black-700);
        font-size: 0.925rem;
        line-height: 1;
        margin-bottom: 30px;
    }
    .form-border .form-control {
        padding: 10px 15px 10px 0px;
    }
    .form-border .form-group {
        margin-bottom: 20px;
    }
    .or-divider {
        margin-top: 25px;
        margin-bottom: 15px;
    }
    .login-button {
        margin-top: 15px;
    }
    .icon-box-style1{
        padding: 15px;
    }
    .icon-box-style1 img {
        max-width: 60px;
    }
    footer .news-latter .input-group{
        display: flex;
    }
    
    footer .news-latter .input-group input{
        flex-grow: 1;
    }
    footer .main-footer .copyright{
        flex-direction: column;
        gap: 15px;
    }
    .fixed-main-content{
        min-height: calc(100vh - 246px);
    }
    .job-list-body{
        margin-top: 20px;
    }
    .job-moreinfo-list {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
    .job-moreinfo-list li{
        padding: 0;
    }
    .user-dropdown .dropdown-toggle::after{
        content: unset;
    }
    .user-dropdown .dropdown-toggle{
        margin-left: 0;
    }
    .job-moreinfo-list.style2 li {
        min-width: 150px;
    }
}
@media only screen and (max-width: 732px) and (min-width: 464px) {
    .banner-section .banner-content span{
        position: relative;
    }
}
@media only screen and (max-width: 575px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 100%;
    }
    .authentication-block {
        padding: 40px 20px;
    }
    .fp_link a,.fp_link label{
        font-size: 12px;
        line-height: 16px;
    }
    
    .icon-box-style1 img {
        max-width: 50px;
    }
    
   .input-group {
        flex-direction: column;
        width: 100%;
    }
     .input-group input {
        margin-bottom: 15px;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        padding: 10px;
    }
    .input-group button {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        padding: 10px !important;
    }
    .fixed-main-content {
        min-height: calc(100vh - 239px);
    }
    .accordion-header {
        padding: 30px 30px;
    }
    .range-input-group {
        flex-direction: column;
    }
    .user-dropdown .dropdown-toggle img {
        height: 30px;
        width: 30px;
    }
    .user-dropdown .dropdown-toggle {
        padding: 5px;
    }
    
}
@media only screen and (max-width: 400px) {
    
}
@media only screen and (max-width: 375px) {
    
}